extends layout

block content
  case raceFilterFlag
    when 'all': h2 All Races
    when 'active': h2 Active Races
    default: h2 Unknown Race Filter Flag

  each race in races
    p.racetitle= race.title
    p.racedesc= race.description
    p
      a(href='/raceview?_id=#{race._id}') View
    p
      a(href='/raceedit?_id=#{race._id}') Edit
    p
      a(href='/racedelete?_id=#{race._id}') Delete

  a(href='/racecreate') Create
